<!DOCTYPE html>
<html>
<head>
    <title>{{program.title }}</title>
</head>
<body>

<ul>

    <h1>{{ program.title }}</h1>

    {{ program.author }}<br/>
    {{ program.date }}<br/>

    <span> {{ program.intro }}</span>
    <div>{{ program.text }}</div>

</ul>

</body>
</html>