{# dokumentation/dokumentation.twig #}
{% set csrfRequestParam %}{% if IsAdmin %}?{{ constant('CSRF_TOKEN') }}={{ CSRF_TOKEN }}{% endif %}{% endset %}

<!DOCTYPE html>
<html lang="de-DE">


<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>BENAS|Dokumentation</title>
    {% block metatags %}{% endblock %}
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body class="dokumentation">
<header>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="menu-icon">&#9776;</label>
    <a href="../../index.php/Pages/home" title="Home"><img class="logo" src="../../Images/Logo.png" alt="Benas Logo"/></a>
    <nav class="menu-mobile">
        <ul class="menu-ul">
            <li class="home"><a href="../../index.php/Pages/home{{ csrfRequestParam }}">Home</a></li>
            <li class="das-team"><a href="../../index.php/Pages/dasTeam{{ csrfRequestParam }}">Das Team</a></li>
            <li class="biogas"><a href="../../index.php/Pages/biogas{{ csrfRequestParam }}">Biogas</a></li>
            <li class="anlage"><a href="../../index.php/Pages/anlage{{ csrfRequestParam }}">Die Anlagen</a></li>
            <li class="rohstoffmanagement"><a href="../../index.php/Pages/rohstoffmanagement{{ csrfRequestParam }}">Rohstoff-<br />management</a></li>
            <li class="weitere-infos"><a href="../../index.php/Pages/weitereInfos{{ csrfRequestParam }}">Weitere Links</a></li>
            <li class="kontakt"><a href="../../index.php/Pages/kontakt{{ csrfRequestParam }}">Kontakt</a></li>
            <li class="aktuelles"><a href="../../index.php/Pages/aktuelles{{ csrfRequestParam }}">Aktuelles</a></li>
            <li class="anfahrt"><a href="../../index.php/Pages/anfahrt{{ csrfRequestParam }}">Anfahrt</a></li>
            <li class="mitarbeiter"><a href="../../index.php/Admin/CreateArticle{{ csrfRequestParam }}">Mitarbeiter</a></li>
            <li class="dokumentation"><a href="../../index.php/Pages/dokumentation{{ csrfRequestParam }}">Dokumentation</a></li>
        </ul>
    </nav>
    <nav class="menu-desktop">
        <ul class="menu-ul">
            <li class="home"><a href="../../index.php/Pages/home{{ csrfRequestParam }}">Home</a></li>
            <li class="das-team"><a href="../../index.php/Pages/dasTeam{{ csrfRequestParam }}">Das Team</a></li>
            <li class="biogas"><a href="../../index.php/Pages/biogas{{ csrfRequestParam }}">Biogas</a></li>
            <li class="anlage"><a href="../../index.php/Pages/anlage{{ csrfRequestParam }}">Die Anlagen</a></li>
            <li class="rohstoffmanagement"><a href="../../index.php/Pages/rohstoffmanagement{{ csrfRequestParam }}">Rohstoffmanagement</a></li>
            <li class="weitere-infos"><a href="../../index.php/Pages/weitereInfos{{ csrfRequestParam }}">Weitere Links</a></li>
            <li class="kontakt"><a href="../../index.php/Pages/kontakt{{ csrfRequestParam }}">Kontakt</a></li>
            <li class="aktuelles"><a href="../../index.php/Pages/aktuelles{{ csrfRequestParam }}">Aktuelles</a></li>
            <li class="anfahrt"><a href="../../index.php/Pages/anfahrt{{ csrfRequestParam }}">Anfahrt</a></li>
            <li class="mitarbeiter"><a href="../../index.php/Admin/CreateArticle{{ csrfRequestParam }}">Mitarbeiter</a></li>
            <li class="dokumentation"><a href="../../index.php/Pages/dokumentation{{ csrfRequestParam }}">Dokumentation</a></li>
        </ul>
    </nav>
</header>

<div class="dokumentation-wrapper">
    <div class="dokumentation-content-wrapper">

        {% block content %}


            <p><h1>Dokumentation</h1></p>
            <h2>Michael Heitmann - mihe9986 - 520149<br />
                Oliver Klemm - olkl7552 - 520148</h2>

            <p id="importantText">Nutzerdaten für den Login als Admin:<br />
            Benutzername: Tobias<br />
            Passwort: coolestadmin</p>

            <p>Für das bereits in der GOM Hausarbeit entworfene Frontend Design des Webauftritts des Unternehmenes Benas GmbH,
                welches im Bereich der Energieerzeugung aus nachwachsenden Rohstoffen tätig ist, haben wir das entsprechende
                Backend für bereits bestehenden Content, sowie neu implementierter Funktionen entsprechend der Vorgaben der
                Hausarbeitsanforderungen realisiert.</p>

            <p>Nach Absprache mit dem Unternehmen wurde ein internener Mitarbeiter Blog implementiert, welcher ausschliesslich
                für registrierte, bzw. eingelogte Benutzer erreichbar ist.
                Dieser Bereich ist unter dem Navigationselement Mitarbeiter zu finden.
                Hier haben User die Möglichkeit sich ein- und auszuloggen und Artikel zu verfassen, sowie pro Artikel ein Bild
                hoch zu laden.<br />
                Die Artikel beinhalten zusätzlich zum verfassten Text und Bild eine Überschrift, eine Zeile mit Verfasser des
                Artikels sowie einen Timestamp.<br />
                Der Administrator, der bereits in der Datenbank angelegt ist, kann neue Mitarbeiter Accounts anlegen, diese
                wieder löschen, ihnen Rollen zuweisen (Administrator oder Employee) und das implementierte Contentmanagement
                System bedienen, um Inhalte auf der Website verwalten zu können.<br />
                Die Employee Accounts haben lediglich Zugriff auf das interne Blog System.</p>

            <p>Die Umsetzung der Anwendung erfolgte mittels einer mehrschichtigen Architektur.
                Die Database Klasse übernimmt die Erzeugung des Datenmodells.
                Sie stellt dabei das databaseHandle bereit, welches eine Instanz von PDO mit enem sqlite Binding darstellt.
                Weiter wird hier die Erzeugung der Datenstruktur vorgenommen.
                Die entsprechenden Tabellen werden nur erzeugt, wenn sie nicht bereits vorhanden sind.
                Die darüberliegende Abstraktionsschicht ist durch die Klasse DataAcces realisiert, welche Methoden für die
                elementaren CRUD-Funktionen der entsprechenden und folgenden Entitätstypen bereit stellt:</p>

            <p>("User");<br />
                ("IsInUserRole");<br />
                ("UserRole");<br />
                ("Image");<br />
                ("Article");<br />
                ("Content");</p>

            <p>Die Methoden, z.B. AddUser überführen hier die Daten entsprechend in das normalisierte Datenmodell.
                So sind bsw. einem Benutzer Rollen (Administrator und Employee) zugeordnet und einem Artikel Bilder usw.<br />
                Die Klasse AdminController stellt Methoden bereit die für die Verwaltung von Benutzern und Berechtigungen
                erforderlich sind.<br />
                Die Klasse PagesController stellt Methoden bereit, die für das Rendering der einzelnen Unterseiten der Website
                benötigt werden.<br />
                Die Controller Actions beider Klassen nehmen jeweils ein request Objekt des Symphony Frameworks entgegen,um ggf.
                request Parameter verarbeiten zu können.
                Beide Klassen sind von der Klasse BaseController abgeleitet, welche neben einer Instanz der Twig Template Engine
                außerdem eine Instanz der Klasse DataAcces für die abgeleiteten Klassen bereit stellt.
                Die Methoden des AdminControllers funktionieren in der Regel so, dass hier ein gerendertes Html-Formular bereit
                gestellt wird, welches beim absenden die entsprechenden Parameter an die Controller Methode übergibt.
                Wenn in der Methode nun die entsprechenden Parameter vorhanden sind, wird statt des Formulars eine entsprechende
                Erfolgs- bzw. Fehler-Meldung zurück gegeben.
                Auf diese Weise kann die Erhebung sowie Verarbeitung der Daten in einer einzelnen Methode gekapselt werden.
                Den einzigen Einstiegspunkt der Anwendung stellt die Datei index.php dar, welche für die Instanziierung der
                Controller sowie die Ausführung der entsprechenden Controller-Methoden (Actions) verantwortlich ist.
                Das Routing auf Controller -> Action wird mit Hilfe der getPathInfo Methode des requests Objekts des Symphony
                Frameworks realisiert.
                -> index.php/Pages/biogas
                Konvention ist hierbei, dass der Unterordner hinter der index.php den Namen des Controllers darstellt und der
                Unterordner hinter dem Namen des Controllers die entsprechende Action darstellt.
                Die Anwendung implementiert das MVC Entwurfsmuster, wobei die Entitätstypen die Models, die von Twig gerenderten
                Templates die Views und die Klassen Admin- und Pages-Controller die Controller darstellen.<br />
                Um die Twig Templates der gerenderten Unterseiten möglichst schlank zu gestalten und Redundanzen zu vermeiden,
                wurden diese von einem Basis Template abgeleitet.
                Das Basistemplate enthält hierbei das Markup, welches sich auf allen Seiten wiederholt, wie bsw. Die Navigation
                und der Footer.
                Die abgeleiteten Templates überschreiben jeweils nur die Blöcke der Contentbereiche, die sich vom Basistemplate
                unterscheiden.<br />
                Um die Inhalte der Unterseiten dynamisch verwalten zu können, wird dem angemeldeten Administrator, also dem
                Benutzer, dem die Rolle Admisnistrator zugeordnet ist, statt dem Inhalt ein Formular mit einem Richtext Editor
                (CK Editor) angezeigt, in dem die entsprechenden Inhalte eingepflegt werden können.
                Wird das Formular nun abgesendet, wird der neue Content an die entsprechende Methode des Pages Controllers
                übergeben, welcher die Daten an die DataAcces-Schicht zur dauerhaften Speicherung übergibt.
                Durch die Kapselung der Logik auf den entsprechenden Abstraktionssichten kann Fehleranfälligkeit und Redundanz
                von Programmecode minimiert werden.
                Außerdem kann so eine hohe Wiederverwendbarkeit und Reduktion der Komplexität erzielt werden.</p>

            <p>Bei der Umsetzung der Anwendung gab es keine strikte Aufgabentrennung, da wir mittels TeamView, Git und anderen
                technischen Raffinessen zusammen gearbeitet haben.
                Als vorhandene Lösungen haben wir u.a. das bereits in der GOM Hausarbeit erstellte Frontend der Website, die
                Twig Dokumentation sowie Samples der PHP.net verwendet.</p>

        {% endblock %}
    </div>
</div>
<footer>
    <p>© 2018 BENAS Biogasanlage GmbH | <a href="../../index.php/Pages/impressum{{ csrfRequestParam }}">Impressum</a></p>
</footer>
</body>
</html>



