{# templates/anlage.twig #}
{% extends 'layout.twig' %}

{% block title %} Benas GmbH - Anlage {% endblock %}


{% block bodyClass %}anlage{% endblock %}

{% block wrapperPrefix %}anlage{% endblock %}


{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/anlage" method="post">
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[0]|length > 0 %}
                    {{ AnlageContent[0] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <img class="resize" alt="Anlage Vorwerk" src="../../Images/vorwerk1.jpg" title="Anlage Vorwerk"/>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[1]|length > 0 %}
                    {{ AnlageContent[1] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage01.jpg" src="../../Images/Anlage01.jpg"/>
                            <figcaption>
                                <p> Blockheizkraftwerke GE-Jenbacher JGC 320</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage02.jpg" src="../../Images/Anlage02.jpg"/>
                            <figcaption>
                                <p> Blockheizkraftwerk</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage03.jpg" src="../../Images/Anlage03.jpg"/>
                            <figcaption>
                                <p> GE-Jenbacher JGC 320 (Detail)</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage04.jpg" src="../../Images/Anlage04.jpg"/>
                            <figcaption>
                                <p> Lagerplatz Fahrsilo</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[2]|length > 0 %}
                    {{ AnlageContent[2] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Stoffannahme01.jpg" src="../../Images/Stoffannahme01.jpg"/>
                            <figcaption>
                                <p>Zentrale Saug-Druckstation</p>
                            </figcaption>
                        </figure>
                        <div class="slide">
                            <figure class="slide-img">
                                <img alt="Stoffannahme02.jpg" src="../../Images/Stoffannahme02.jpg"/>
                                <figcaption>
                                    <p>Einbringung der nachwachsenden Rohstoffe</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="slide">
                            <figure class="slide-img">
                                <img alt="Stoffannahme03.jpg" src="../../Images/Stoffannahme03.jpg"/>
                                <figcaption>
                                    <p>Einbringung der nachwachsenden Rohstoffe(Detail)</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[3]|length > 0 %}
                    {{ AnlageContent[3] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gärbehälter01.jpg" src="../../Images/Gärbehälter01.jpg"/>
                            <figcaption>
                                <p>Fermenter</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[4]|length > 0 %}
                    {{ AnlageContent[4] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gasleitung01.jpg" src="../../Images/Gasleitung01.jpg"/>
                            <figcaption>
                                <p>Serviceschächte</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[5]|length > 0 %}
                    {{ AnlageContent[5] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[6]|length > 0 %}
                    {{ AnlageContent[6] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Entwässerung01.jpg" src="../../Images/Entwässerung01.jpg"/>
                            <figcaption>
                                <p>Entwässerungssektion</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[7]|length > 0 %}
                    {{ AnlageContent[7] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Hackschnitzel01.jpg" src="../../Images/Hackschnitzel01.jpg"/>
                            <figcaption>
                                <p>Trocknungshalle</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[8]|length > 0 %}
                    {{ AnlageContent[8] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gärrest01.jpg" src="../../Images/Gärrest01.jpg"/>
                            <figcaption>
                                <p>Drehrohrtrockner</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[9]|length > 0 %}
                    {{ AnlageContent[9] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Umschlagshalle01.jpg" src="../../Images/Umschlagshalle01.jpg"/>
                            <figcaption>
                                <p>Umschlagshalle</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[10]|length > 0 %}
                    {{ AnlageContent[10] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}
            </textarea>

            <input type="submit" value="save"/>
            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark01.jpg" src="../../Images/Fuhrpark01.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark02.jpg" src="../../Images/Fuhrpark02.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark03.jpg" src="../../Images/Fuhrpark03.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark04.jpg" src="../../Images/Fuhrpark04.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark05.jpg" src="../../Images/Fuhrpark05.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark06.jpg" src="../../Images/Fuhrpark06.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark07.jpg" src="../../Images/Fuhrpark07.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark08.jpg" src="../../Images/Fuhrpark08.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark09.jpg" src="../../Images/Fuhrpark09.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <script>
                $('.content').each(function(i,l){
                    ClassicEditor
                        .create( l )
                        .catch( error => {
                        console.error( error );
                } );
                });

            </script>
        </form>

    {% else %}
        {% autoescape %}

                {% if AnlageContent[0]|length > 0 %}
                    {{ AnlageContent[0] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}



            <img class="resize" alt="Anlage Vorwerk" src="../../Images/vorwerk1.jpg" title="Anlage Vorwerk"/>

                {% if AnlageContent[1]|length > 0 %}
                    {{ AnlageContent[1] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}



            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage01.jpg" src="../../Images/Anlage01.jpg"/>
                            <figcaption>
                                <p> Blockheizkraftwerke GE-Jenbacher JGC 320</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage02.jpg" src="../../Images/Anlage02.jpg"/>
                            <figcaption>
                                <p> Blockheizkraftwerk</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage03.jpg" src="../../Images/Anlage03.jpg"/>
                            <figcaption>
                                <p> GE-Jenbacher JGC 320 (Detail)</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Anlage04.jpg" src="../../Images/Anlage04.jpg"/>
                            <figcaption>
                                <p> Lagerplatz Fahrsilo</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[2]|length > 0 %}
                    {{ AnlageContent[2] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Stoffannahme01.jpg" src="../../Images/Stoffannahme01.jpg"/>
                            <figcaption>
                                <p>Zentrale Saug-Druckstation</p>
                            </figcaption>
                        </figure>
                        <div class="slide">
                            <figure class="slide-img">
                                <img alt="Stoffannahme02.jpg" src="../../Images/Stoffannahme02.jpg"/>
                                <figcaption>
                                    <p>Einbringung der nachwachsenden Rohstoffe</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="slide">
                            <figure class="slide-img">
                                <img alt="Stoffannahme03.jpg" src="../../Images/Stoffannahme03.jpg"/>
                                <figcaption>
                                    <p>Einbringung der nachwachsenden Rohstoffe(Detail)</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

                {% if AnlageContent[3]|length > 0 %}
                    {{ AnlageContent[3] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gärbehälter01.jpg" src="../../Images/Gärbehälter01.jpg"/>
                            <figcaption>
                                <p>Fermenter</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[4]|length > 0 %}
                    {{ AnlageContent[4] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gasleitung01.jpg" src="../../Images/Gasleitung01.jpg"/>
                            <figcaption>
                                <p>Serviceschächte</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[5]|length > 0 %}
                    {{ AnlageContent[5] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}


                {% if AnlageContent[6]|length > 0 %}
                    {{ AnlageContent[6] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Entwässerung01.jpg" src="../../Images/Entwässerung01.jpg"/>
                            <figcaption>
                                <p>Entwässerungssektion</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[7]|length > 0 %}
                    {{ AnlageContent[7] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Hackschnitzel01.jpg" src="../../Images/Hackschnitzel01.jpg"/>
                            <figcaption>
                                <p>Trocknungshalle</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[8]|length > 0 %}
                    {{ AnlageContent[8] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}


            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Gärrest01.jpg" src="../../Images/Gärrest01.jpg"/>
                            <figcaption>
                                <p>Drehrohrtrockner</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[9]|length > 0 %}
                    {{ AnlageContent[9] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Umschlagshalle01.jpg" src="../../Images/Umschlagshalle01.jpg"/>
                            <figcaption>
                                <p>Umschlagshalle</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

                {% if AnlageContent[10]|length > 0 %}
                    {{ AnlageContent[10] }}
                {% else %}
                    <p>ughniujfsd</p>
                {% endif %}

            <div id="slideshow">
                <div class="slide-wrapper">
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark01.jpg" src="../../Images/Fuhrpark01.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark02.jpg" src="../../Images/Fuhrpark02.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark03.jpg" src="../../Images/Fuhrpark03.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark04.jpg" src="../../Images/Fuhrpark04.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark05.jpg" src="../../Images/Fuhrpark05.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark06.jpg" src="../../Images/Fuhrpark06.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark07.jpg" src="../../Images/Fuhrpark07.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark08.jpg" src="../../Images/Fuhrpark08.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="slide">
                        <figure class="slide-img">
                            <img alt="Fuhrpark09.jpg" src="../../Images/Fuhrpark09.jpg"/>
                            <figcaption>
                                <p>[ ]</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        {% endautoescape %}
    {% endif %}

    {% endblock %}
