{# templates/anlage.twig #}
{% extends 'layout.twig' %}

{% block title %} Benas GmbH - Anlage {% endblock %}


{% block bodyClass %}anlage{% endblock %}

{% block wrapperPrefix %}anlage{% endblock %}

{% set anlageInitContent1 %}
    <h1>Die Anlage im Einzelnen</h1>
    <p>Die BENAS GmbH besteht seit 01.05.1999. Alleiniger Gesellschafter und Geschäftsführer ist Jürgen Heitmann. Gärvolumen ca. 5.000m³, geplante Leistung 800kW elektrisch. Diese Anlage wurde mit Rindergülle, nachwachsenden Rohstoffen und Kofermenten aus der Lebensmittelindustrie betrieben. Bis zum Jahr 2006 wurde diese Anlage stetig weiterentwickelt und ausgebaut. So wurde eine Hygienisierungsanlage und eine Gaskühlung errichtet, der Feststoffeintrag erneuert und weitere Blockheizkraftwerke angeschafft.</p>
    <p>Derzeit ist die Anlage mit einer installierten elektrischen Leistung von 2.200 kW ausgerüstet. Im Winter 06/07 wurde ein weiterer Gärbehälter mit einem Volumen von 5.000 m³ errichtet. Seit 2007 wird diese Anlage nur noch mit nachwachsenden Rohstoffen und Hühnertrockenkot betrieben (NaWaRo-Anlage).</p>
    <img class="grow" alt="Anlage Vorwerk" src="../../Images/vorwerk1.jpg" title="Anlage Vorwerk">
    <p>Im Jahr 2004 begannen die Pläne zur Errichtung einer Vergärungsanlage in Ottersberg.</p>
{% endset %}

{% set anlageInitContent2 %}
<h1>Die Anlage Ottersberg</h1>
<p>Am Standort 28870 Ottersberg, Kreuzbuchen 2 wird von der BENAS Biogasanlage GmbH eine Biomasse-Vergärungsanlage betrieben.</p>
<p>Die Auslegung, Planung und Bauleitung hat die BENAS selbst durchgeführt.</p>

            <h1>Die Anlage im Einzelnen</h1>
            <ul>
                <li>Genehmigte Jahresmenge 175.000 Tonnen; derzeitiger Betrieb: NawaRo (Nachwachsende Rohstoffe)</li>
                <li>Thermophiler Betrieb 50°C</li>
                <li>Hydraulische Verweilzeit ca. 150 Tage</li>
                <li>Installierte elektrische Leistung 5.240 kW (5 Blockheizkraftwerke GE-Jenbacher JGC 320, jeweils 1.048 kW elektrisch, Wirkungsgrad 40,9%)</li>
                <li>Lagerplatz Fahrsilo 130 x 65 Meter, 3 Meter Wandhöhe</li>
            </ul>
                    <img class="grow" alt="Anlage01.jpg" src="../../Images/Anlage01.jpg" />
        {% endset %}

{% set anlageInitContent3 %}
<h1>Eintragssystem</h1>
<ul>
    <li>Annahme- und Produktionshalle 30 x 50 Meter, 2 Gassen zur Flüssigannahme, 1 Gasse für nachwachsende Rohstoffe ausgerüstet mit Schubboden für 200m³ Silage</li>
    <li>Annahmebereich mit Luftabsaugung und Gasdetektoren (CO, H2S)</li>
    <li>Zentrale Saug-Druckstation für flüssige Stoffe mit Verteilstation</li>
    <li>Einbringung der nachwachsenden Rohstoffe über Schubboden</li>
</ul>

        <img class="grow" alt="Stoffannahme01.jpg" src="../../Images/Stoffannahme01.jpg" />

        {% endset %}

{% set anlageInitContent4 %}
<h1>Gärbehälter</h1>
<ul>
    <li>2 Fermenter Spannbetonbehälter, Durchmesser 33 Meter, Höhe 5,80 Meter, Tragluftgasspeichersystem BAUR, jeweils 2 Tauchmotorrührwerke, 2 Wandrührwerke, 2 Serviceschächte</li>
    <li>2 Nachgärer Spannbetonbehälter, Durchmesser 33 Meter, Höhe 5,80 Meter, Tragluftgasspeichersystem BAUR, jeweils 2 Tauchmotorrührwerke, 2 Wandrührwerke, 2 Serviceschächte</li>
    <li>2 Endlager Spannbetonbehälter, Durchmesser 33 Meter, Höhe 5,80 Meter, Tragluftgasspeichersystem BAUR, jeweils 2 Tauchmotorrührwerke, 2 Wandrührwerke, 2 Serviceschächte</li>
</ul>

        <img class="grow" alt="Gärbehälter01.jpg" src="../../Images/Gärbehälter01.jpg" />

        {% endset %}

{% set anlageInitContent5 %}
<h1>Gasleitung/Aufbereitung</h1>
<ul>
    <li>Gasentnahme von allen Behältern über Serviceschächte auf zwei im Erdreich verlegte Gasrohre, Gaskühlung und –verdichtung zentral</li>
</ul>

        <img class="grow" alt="Gasleitung01.jpg" src="../../Images/Gasleitung01.jpg" />

        {% endset %}

{% set anlageInitContent6 %}
    <h1>Ammonium-Strippanlage</h1>
    <ul>
        <li>Stickstoffentfernung aus dem Gärrest mittels einer Ammonium-Strippanlage, Durchsatz 25m³/h</li>
    </ul>

{% endset %}

{% set anlageInitContent7 %}
<h1>Entwässerung</h1>
<ul>
    <li>Entwässerung des Gärrest durch Zugabe von Flockmittel und Dekanter, 25m³/h</li>
</ul>

        <img class="grow" alt="Entwässerung01.jpg" src="../../Images/Entwässerung01.jpg" />

        {% endset %}

{% set anlageInitContent8 %}
<h1>Trocknung Gärrest</h1>
<ul>
    <li>Trocknung des entwässerten Schlammes von 25% auf >90% TS mittels Drehrohrtrockner,   2.500 kg/h Wasserverdampfung</li>
</ul>

        <img class="grow" alt="Gärrest01.jpg" src="../../Images/Gärrest01.jpg" />

{% endset %}

{% set anlageInitContent9 %}
<h1>Trocknung Hackschnitzel etc.</h1>
<ul>
    <li>Trocknung von Hackschnitzel, Rinde, Sägemehl, Scheitholz in einer Trocknungshalle 18 x 30 Meter, 2 x 1.000 m³ Volumen</li>
</ul>

        <img class="grow" alt="Hackschnitzel01.jpg" src="../../Images/Hackschnitzel01.jpg"/>

        {% endset %}

{% set anlageInitContent10 %}
<h1>Lager-, Umschlagshalle</h1>
<ul>
    <li>Halle 25 x 50 Meter, eine Seite offen mit Schleppdach, Fußbodenheizung für Lagerung und Umschlag von getrockneten Gärresten, Hackschnitzel, Rinde etc.</li>
</ul>

        <img class="grow" alt="Umschlagshalle01.jpg" src="../../Images/Umschlagshalle01.jpg"/>

        {% endset %}

{% set anlageInitContent11 %}
<h1>Fuhrpark</h1>
<ul>
    <li>9 Sattelzugmaschinen</li>
    <li>4 Edelstahl Pump-Tankwagen</li>
    <li>1 Vakuumtankauflieger, 3 Alu-Kippauflieger, 3 Schubbodenauflieger</li>
    <li>3 Radlader, 2 Teleskoplader</li>
    <li>14 Schlepper</li>
    <li>1 Maishäcksler, 1 Mähdrescher</li>
    <li>7 Häckseltransportwagen</li>
    <li>3 Güllefässer</li>
</ul>

        <img class="grow" alt="Fuhrpark01.jpg" src="../../Images/Fuhrpark01.jpg"/>

        {% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/anlage" method="post">
            <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>

            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[0]|length > 0 %}
                    {{ AnlageContent[0] }}
                {% else %}
                    {{ anlageInitContent1 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[1]|length > 0 %}
                    {{ AnlageContent[1] }}
                {% else %}
                    {{ anlageInitContent2 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[2]|length > 0 %}
                    {{ AnlageContent[2] }}
                {% else %}
                    {{ anlageInitContent3 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[3]|length > 0 %}
                    {{ AnlageContent[3] }}
                {% else %}
                    {{ anlageInitContent4 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[4]|length > 0 %}
                    {{ AnlageContent[4] }}
                {% else %}
                    {{ anlageInitContent5 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[5]|length > 0 %}
                    {{ AnlageContent[5] }}
                {% else %}
                    {{ anlageInitContent6 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>
            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[6]|length > 0 %}
                    {{ AnlageContent[6] }}
                {% else %}
                    {{ anlageInitContent7 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[7]|length > 0 %}
                    {{ AnlageContent[7] }}
                {% else %}
                    {{ anlageInitContent8 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[8]|length > 0 %}
                    {{ AnlageContent[8] }}
                {% else %}
                    {{ anlageInitContent9 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>




            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[9]|length > 0 %}
                    {{ AnlageContent[9] }}
                {% else %}
                    {{ anlageInitContent10 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <textarea name="content[]" class="content" rows="10" cols="80">
                {% if AnlageContent[10]|length > 0 %}
                    {{ AnlageContent[10] }}
                {% else %}
                    {{ anlageInitContent11 }}
                {% endif %}
            </textarea>

            <input type="submit" value="Speichern"/>



            <script>
                $('.content').each(function (i, l) {
                    ClassicEditor
                        .create(l)
                        .catch(error => {
                        console.error(error);
                } )
                    ;
                });

            </script>
        </form>

    {% else %}
        {% autoescape %}
            <div class="anlage-boxes">
            {% if AnlageContent[0]|length > 0 %}
                {{ AnlageContent[0]|raw }}
            {% else %}
                {{ anlageInitContent1|raw }}
            {% endif %}
            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[1]|length > 0 %}
                {{ AnlageContent[1]|raw }}
            {% else %}
                {{ anlageInitContent2|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[2]|length > 0 %}
                {{ AnlageContent[2]|raw }}
            {% else %}
                {{ anlageInitContent3|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[3]|length > 0 %}
                {{ AnlageContent[3]|raw }}
            {% else %}
                {{ anlageInitContent4|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[4]|length > 0 %}
                {{ AnlageContent[4]|raw }}
            {% else %}
                {{ anlageInitContent5|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[5]|length > 0 %}
                {{ AnlageContent[5]|raw }}
            {% else %}
                {{ anlageInitContent6|raw }}
            {% endif %}
            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[6]|length > 0 %}
                {{ AnlageContent[6]|raw }}
            {% else %}
                {{ anlageInitContent7|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[7]|length > 0 %}
                {{ AnlageContent[7]|raw }}
            {% else %}
                {{ anlageInitContent8|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[8]|length > 0 %}
                {{ AnlageContent[8]|raw }}
            {% else %}
                {{ anlageInitContent9|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[9]|length > 0 %}
                {{ AnlageContent[9]|raw }}
            {% else %}
                {{ anlageInitContent10|raw }}
            {% endif %}


            </div>
            <div class="anlage-boxes">
            {% if AnlageContent[10]|length > 0 %}
                {{ AnlageContent[10]|raw }}
            {% else %}
                {{ anlageInitContent11|raw }}
            {% endif %}


            </div>
        {% endautoescape %}
    {% endif %}

{% endblock %}
