{# templates/CreateArticle.twig #}
{% extends 'layout.twig' %}

{% block title %} CreateArticle {% endblock %}

{% block bodyClass %}CreateArticle{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
<form action="../../index.php/Admin/CreateArticle" method="post" enctype="multipart/form-data">
    <label for="header">Header</label>
    <input name="header" type="text">

    </input>
    <label for="text">Text</label>
    <textarea name="text" type="text" rows="20" cols="5"></textarea>


    <br />
    <label for="image">Bild</label>
    <input name="fileToUpload" type="file" id="fileToUpload">

    </input>
    <br />
    <input type="submit" value="Post"/>

    {% for article in articles %}
        <div class="article">
        <h2>{{ article.Header }}</h2>
        <h3>{{ article.UserName }}</h3>
        <p>{{ article.Text }}</p>
        <img src="../../{{ article.ImagePath }}"> </img>
        <p>{{ article.Timestamp }}</p>
        </div>
    {% endfor %}

</form>
    {% include 'list.twig' %}
{% endblock %}