{# templates/CreateArticle.twig #}
{% extends 'layout.twig' %}

{% block title %} CreateArticle {% endblock %}

{% block bodyClass %}CreateArticle{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}


{% block content %}
    {% include 'list.twig' %}
<form action="../../index.php/Admin/CreateArticle" method="post" enctype="multipart/form-data">

    <h1>Der BENAS Blog</h1>
    <h2>eigenen Blogpost erstellen:</h2>
    <label for="header">Überschrift</label>
    <input name="header" type="text">

    </input>
    <label for="text">Text</label>
    <textarea name="text" type="text" rows="20" cols="5"></textarea>


    <br />
    <label for="image">Bild</label>
    <input name="fileToUpload" type="file" id="fileToUpload">

    </input>
    <br />
    <input type="submit" value="Post"/>

    {% for article in articles %}
        <div class="article">
        <h2>{{ article.Header }}</h2>
        <h4>erstellt von {{ article.UserName }}</h4>
        <p>{{ article.Text }}</p>
        {% if article.ImagePath|length > 0 %}
        <img src="../../{{ article.ImagePath }}"> </img>
        {%  endif %}
        <p>{{ article.Timestamp }}</p>
        </div>
    {% endfor %}

</form>

{% endblock %}