{# templates/home.twig #}
{% extends 'layout.twig' %}

{% block title %} Home {% endblock %}

{% block bodyClass %}home{% endblock %}

{% block wrapperPrefix %}home{% endblock %}

{% set homeInitContent %}
    <p>biologisch</p>
    <p>energetische</p>
    <p>nutzbarmachung</p>
    <p>von</p>
    <p>abfallstoffen</p>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/home" method="post">
            <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>
            <textarea name="content" id="content" rows="10" cols="80">
                {% if HomeContent|length > 0 %}
                    {{ HomeContent }}
                {% else %}
                    {{ homeInitContent }}
                {% endif %}

            </textarea>
            <input type="submit" value="save"/>
            <script>
                ClassicEditor
                    .create(document.querySelector('#content'))
                    .catch(error => {
                    console.error(error);
                } )
                ;
            </script>
        </form>
    {% else %}
        {% autoescape %}
            {% if HomeContent|length > 0 %}
                {{ HomeContent|raw }}
            {% else %}
                {{ homeInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}
{% endblock %}

