{# templates/impressum.twig #}
{% extends 'layout.twig' %}

{% block title %} Impressum {% endblock %}

{% block bodyClass %}impressum{% endblock %}

{% block wrapperPrefix %}impressum{% endblock %}


{% set impressumInitContent %}
    <h1>Impressum</h1>
    <p>BENAS GmbH<br />
        Diekweg 1<br />27412 Vorwerk
    </p>
    <p>Telefon: 04288 - 265<br />
        Telefax: 04288 - 92 89 50<br />
        E-Mail: <a href="mailto:mail@benas-biogas.com">mail@benas-biogas.com</a><br />
    </p>
    <p><strong>Vertreten durch:</strong><br />Geschäftsführer: Jürgen Heitmann <br />
        Amtsgericht Tostedt HRB 120335
    </p>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/impressum" method="post">
            <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>
            <textarea name="content" id="content" rows="10" cols="80">
                {% if ImpressumContent|length > 0 %}
                    {{ ImpressumContent }}
                {% else %}
                    {{ impressumInitContent }}
                {% endif %}

            </textarea>
            <input type="submit" value="Speichern"/>
            <script>
                ClassicEditor
                    .create(document.querySelector('#content'))
                    .catch(error => {
                    console.error(error);
                } )
                ;
            </script>
        </form>
    {% else %}
        {% autoescape %}
            {% if ImpressumContent|length > 0 %}
                {{ ImpressumContent|raw }}
            {% else %}
                {{ impressumInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}
{% endblock %}