{# templates/layout.twig #}

{% set csrfRequestParam %}{% if IsAdmin %}?{{ constant('CSRF_TOKEN') }}={{ CSRF_TOKEN }}{% endif %}{% endset %}

<!DOCTYPE html>
<html lang="de-DE">
<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block metatags %}{% endblock %}
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body class="{{ block('bodyClass') }}">
<header>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="menu-icon">&#9776;</label>
    <a href="../../index.php/Pages/home" title="Home"><img class="logo" src="../../Images/Logo.png"
                                                           alt="Benas Logo"/></a>
    <p>{{ isAdmin }}</p>
    <nav class="menu-mobile">
        <ul class="menu-ul">
            <li class="home"><a href="../../index.php/Pages/home{{ csrfRequestParam }}">Home</a></li>
            <li class="das-team"><a href="../../index.php/Pages/dasTeam{{ csrfRequestParam }}">Das Team</a></li>
            <li class="biogas"><a href="../../index.php/Pages/biogas{{ csrfRequestParam }}">Biogas</a></li>
            <li class="anlage"><a href="../../index.php/Pages/anlage{{ csrfRequestParam }}">Die Anlagen</a></li>
            <li class="rohstoffmanagement"><a href="../../index.php/Pages/rohstoffmanagement{{ csrfRequestParam }}">Rohstoffmanagement</a>
            </li>
            <li class="weitere-infos"><a href="../../index.php/Pages/weitereInfos{{ csrfRequestParam }}">Weitere Links</a></li>
            <li class="kontakt"><a href="../../index.php/Pages/kontakt{{ csrfRequestParam }}">Kontakt</a></li>
            <li class="aktuelles"><a href="../../index.php/Pages/aktuelles{{ csrfRequestParam }}">Aktuelles</a></li>
            <li class="anfahrt"><a href="../../index.php/Pages/anfahrt{{ csrfRequestParam }}">Anfahrt</a></li>
            <li class="mitarbeiter"><a href="../../index.php/Admin/CreateArticle{{ csrfRequestParam }}">Mitarbeiter</a></li>
            <li class="dokumentation"><a href="../../index.php/Pages/dokumentation{{ csrfRequestParam }}">Dokumentation</a></li>
        </ul>
    </nav>
    <nav class="menu-desktop">
        <ul class="menu-ul">
            <li class="home"><a href="../../index.php/Pages/home{{ csrfRequestParam }}">Home</a></li>
            <li class="das-team"><a href="../../index.php/Pages/dasTeam{{ csrfRequestParam }}">Das Team</a></li>
            <li class="biogas"><a href="../../index.php/Pages/biogas{{ csrfRequestParam }}">Biogas</a></li>
            <li class="anlage"><a href="../../index.php/Pages/anlage{{ csrfRequestParam }}">Die Anlagen</a></li>
            <li class="rohstoffmanagement"><a href="../../index.php/Pages/rohstoffmanagement{{ csrfRequestParam }}">Rohstoffmanagement</a>
            </li>
            <li class="weitere-infos"><a href="../../index.php/Pages/weitereInfos{{ csrfRequestParam }}">Weitere Links</a></li>
            <li class="kontakt"><a href="../../index.php/Pages/kontakt{{ csrfRequestParam }}">Kontakt</a></li>
            <li class="aktuelles"><a href="../../index.php/Pages/aktuelles{{ csrfRequestParam }}">Aktuelles</a></li>
            <li class="anfahrt"><a href="../../index.php/Pages/anfahrt{{ csrfRequestParam }}">Anfahrt</a></li>
            <li class="mitarbeiter"><a href="../../index.php/Admin/CreateArticle{{ csrfRequestParam }}">Mitarbeiter</a></li>
            <li class="dokumentation"><a href="../../index.php/Pages/dokumentation{{ csrfRequestParam }}">Dokumentation</a></li>
        </ul>
    </nav>
</header>

<div class="{{ block('wrapperPrefix') }}-wrapper">
    <div class="{{ block('wrapperPrefix') }}-content-wrapper">

        {% block content %}{% endblock %}
    </div>
</div>
<footer>
    <p>© 2016 BENAS Biogasanlage GmbH | <a href="../../index.php/Pages/impressum">Impressum</a></p>
</footer>
</body>
</html>