{# templates/rohstoffmanagement.twig #}
{% extends 'layout.twig' %}

{% block title %}Rohstoffmanagement{% endblock %}

{% block bodyClass %}rohstoffmanagement{% endblock %}

{% block wrapperPrefix %}biogas{% endblock %}

{% set rohstoffmanagementInitContent %}
    <h1>In Arbeit</h1>
    <p>Inhalt folgt in Kürze</p>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/rohstoffmanagement" method="post">
            <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>
            <textarea name="content" id="content" rows="10" cols="80">
                {% if RohstoffmanagementContent|length > 0 %}
                    {{ RohstoffmanagementContent }}
                {% else %}
                    {{ rohstoffmanagementInitContent }}
                {% endif %}
            </textarea>
            <input type="submit" value="Speichern"/>
            <script>

                ClassicEditor
                    .create(document.querySelector('#content'))
                    .catch(error => {
                    console.error(error);
                } )
                ;
            </script>
        </form>
    {% else %}
        {% autoescape %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Diese Website befindet sich momentan im Umbau. Hier dargestellte Informationen sind möglicherweise noch nicht aktuell.
            </div>
            {% if RohstoffmanagementContent|length > 0 %}
                {{ RohstoffmanagementContent|raw }}
            {% else %}
                {{ rohstoffmanagementInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}
{% endblock %}
