{# templates/weitere-infos.twig #}
{% extends 'layout.twig' %}

{% block title %}BENAS GmbH - Weitere Links{% endblock %}

{% block bodyClass %}weitere-infos{% endblock %}

{% block wrapperPrefix %}weitere-infos{% endblock %}

{% set weitereInfosInitContent %}
    <h1>Lohnunternehmen</h1>
    <div class="links">
        <ul>
            <li><a href="http://jacobs-hof.de/">Dirk Gieschen</a></li>
        </ul>
        <h1>Sonstiges</h1>
        <ul>
            <li><a href="http://biogas.org/edcom/webfvb.nsf/ID/DE_Homepage/">Fachverband Biogas eV</a></li>
            <li><a href="http://www.kompost.de/startseite/">Bundesgütegemeinschaft Kompost eV</a></li>
        </ul>
    </div>
{% endset %}

{% block content %}
    {% if IsAdmin %}
        <form action="../../index.php/Pages/weitereInfos" method="post">
            <input type="hidden" name="{{ constant('CSRF_TOKEN') }}" value="{{ CSRF_TOKEN }}"/>
            <textarea name="content" id="content" rows="10" cols="80">
                {% if WeitereInfosContent|length > 0 %}
                    {{ WeitereInfosContent }}
                {% else %}
                    {{ weitereInfosInitContent }}
                {% endif %}
            </textarea>
            <input type="submit" value="save"/>
            <script>
                ClassicEditor
                    .create(document.querySelector('#content'))
                    .catch(error = > {
                    console.error(error);
                } )
                ;
            </script>
        </form>
    {% else %}
        {% autoescape %}
            {% if WeitereInfosContent|length > 0 %}
                {{ WeitereInfosContent|raw }}
            {% else %}
                {{ weitereInfosInitContent }}
            {% endif %}
        {% endautoescape %}
    {% endif %}

{% endblock %}









